<div class="control-group">
  <%= f.label :month, 'חודש'%>
  <div class="controls">
    <%= f.text_field :month, class: "input-block-level"%>
  </div>
</div>

<div class="control-group">
  <%= f.label :amount, 'הוצאה'%>
  <div class="controls">
    <%= f.text_field :amount, class: "input-block-level"%>
  </div>
</div>

<hr />