<div class="control-group">
  <%= f.label :month, 'חודש'%>
  <div class="controls">
    <%= f.select :month, [["ינואר", 1],["פברואר", 2],["מרץ", 3],["אפריל", 4],["מאי", 5],["יוני",6],["יולי",7],["אוגוסט", 8],["ספטמבר", 9],["אוקטובר", 10],["נובמבר", 11],["דצמבר", 12]] %>
  </div>
</div>

<div class="control-group">
  <%= f.label :amount, 'הוצאה'%>
  <div class="controls">
    <%= f.text_field :amount, class: "input-block-level"%>
  </div>
</div>

<hr />