<div id="chart_container" style="width:100%; height:400px;"></div>


<script type="text/javascript">
  $(function(){ 
    $('#chart_container').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'דוח\"ות חודשיים'
      },
      xAxis: {
          categories: ['01', '02', '03']
      },
      yAxis: {
          title: {
              text: 'כמות'
          }
      },
      series: [
      {
        name: 'הכנסה',
        data: current_user.account.members.collect{ |m| m.incomes.collect(&:amount)}.flatten
      },
      {
        name: 'הוצאה',
        data: @params.collect{|pa| pa.param_datas.collect(&:month)}.flatten.uniq
      }]
    });
  });
</script>