<div style="direction: ltr;">
  <div id="chart_container_2" style="width:100%; height:400px;"></div>
  <div id="chart_container" style="width:100%; height:400px;"></div>
</div>

<%#= @param.param_datas.group_by(&:month).map(&:amount) %>

<script type="text/javascript">
  $(function(){ 
    $('#chart_container').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'דו\"ח קופונים'
      },
      xAxis: {
          categories: <%= @coupons_data.map(&:month) %>
      },
      yAxis: {
          title: {
              text: 'כמות'
          }
      },
      series: [
      {
        name: 'מחיר לאחר הנחה',
        data: <%= @coupons_data.map(&:coupon_amount) %>
      },
      {
        name: 'מחיר מקורי',
        data: <%= @coupons_data.map(&:normal_amount) %>
      }]
    });
  });

      $(function(){ 
        $('#chart_container_2').highcharts({
          chart: {
              type: 'column'
          },
          title: {
              text: 'הוצאות מול הנכסות'
          },
          xAxis: {
              categories: <%= current_user.account.members.map{|m| m.incomes.map{|a| a.amount.to_i }}.flatten %>
          },
          yAxis: {
              title: {
                  text: 'כמות'
              }
          },
          series: [
          {
            name: 'מחיר לאחר הנחה',
            data: [12000,11350,12000,13200,14210]
          },
          {
            name: 'מחיר מקורי',
            data: [14000,14210,12000,13200,11350]
          }]
        });
      });
</script>